# env file containing the OpenAI key
.env

# R Profile (containing the OpenAI key as well)
.Rprofile
.Rproj.user/

# Other attempts folder
other_attempts/

# Mac temp file
.DS_Store

# pycache
__pycache__/
