fitz==0.0.1.dev2
fpdf==1.7.2
langchain==0.3.19
langchain_anthropic==0.3.8
langchain_cohere==0.4.2
langchain_google_genai==2.0.11
langchain_groq==0.2.4
langchain_mistralai==0.2.7
langchain_openai==0.3.7
openai==1.65.1
pdf4llm==0.0.9
pypdf==5.3.0
python-dotenv==1.0.1
streamlit==1.42.2
streamlit_extras==0.5.5
streamlit_lottie==0.0.5
streamlit_mic_recorder==0.0.8
streamlit_option_menu==0.4.0
